{
    "presets": [
        [
            "env",
            {
                "targets": {
                    "browsers": ["last 10 versions", "ie >= 7"]
                }
            }
        ],
        "react"
    ],
    "plugins": [
        
    ]
}